body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: monospace;
    padding: 5px;
    
}


.p {
    color: #E0E0E0;
}

h2 {
    font-size: 25px;
}

button {
    font-size: 16px;
    font-family: Verdana;
    padding: 15px 25px;
    border-radius: 8px;
    cursor:pointer;

}
